server {
  listen 80;
  server_name {{ frontend_host }};
  root /var/www/ifrit;

  gzip on;
  gzip_min_length 1100;
  gzip_buffers 4 32k;
  gzip_types type/plain application/javascript application/json application/x-javascript text/css;
  gzip_vary on;

  location / {
    try_files $uri /index.html;
  }
}
