upstream shiva {
  server unix:///var/www/shiva/shared/tmp/sockets/shiva-puma.sock;
}

server {
  listen 80;
  server_name {{ host }};

  root /var/www/shiva/current/public;
  access_log /var/log/nginx/shiva.access.log;
  error_log /var/log/nginx/shiva.error.log info;

  try_files $uri/index.html $uri @shiva;

  location @shiva {
    proxy_pass http://shiva;
    proxy_set_header Host $http_host;
    proxy_set_header X-Forwarded-For $proxy_add_x_forwarded_for;
    proxy_set_header X-Real-IP $remote_addr;
    proxy_redirect off;
  }

  location ^~ /assets/ {
    gzip_static on;
    expires max;
    add_header Cache-Control public;
  }

  error_page 500 502 503 504 /500.html;
  client_max_body_size 10M;
  keepalive_timeout 10;
}
